<article>
  <br>
  <h2>{{#link-to 'post' post.id}}{{attrs.post.title}}{{/link-to}}</h2>
  <p>
    {{attrs.post.text}}
  </p>
  <i>
    (Posted on {{attrs.post.createdDate}}
    by {{attrs.post.author}})
  </i>
  <br><br><br>

  <hr>
</article>
